/* Ajustes de la pagina */

body{
    margin: 0;
    font-family: 'Open Sans'; 
    font-size: 30px;
    min-width: 344px;
    background-color: white;
}

:root{
    --azul-oscuro:#0D4870;
    --azul: #2058c8;
    --azul-claro: #3485e2;
    --verde:#03300E;
    --negro: #2C2C2C;
}

/* Encabezado */

header{
    background-color: rgba(0, 0, 0, 0.2); 
    backdrop-filter: blur(5px);
    height: 30px;
    padding-inline: 3%;
    padding-block: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 94%;
    
}

header .logo{
    width: 50vw;
    max-width: 100px;
}


/*Menu Responsive*/


.nav-list{
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
    margin: 0;
}

.nav-list li{
    display: flex;
    align-items: center;
}



.nav-list li a{
    text-decoration: none;
    color: var(--azul-oscuro);
    font-size: 3vw;
    font-weight:700;
    font-size:clamp(20px, 2vw, 20px) ;

}

.nav-list li a:hover{
    color: var(--verde);
    font-weight: 800;
    border-bottom: 1px solid var(--verde);
    transition: linear all 0.6s;
}

.menu-btn {
  display:none;
  background: none;
  border: none;
  cursor: pointer;

}

.menu-btn img{
    width: 7vw;
    max-width: 20px;
}


@media (max-width: 759px) {

    .menu-btn{
        display: block;
    }

    .nav-list{
        border-block: 2px solid rgba(0, 0, 0, 0.2);
        padding: 0;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 90px;
        padding-block: 4px;
        left: 0;
        background-color: rgba(0, 0, 0, 0.2); 
        backdrop-filter: blur(5px);
        gap: 10px;
        display: flex;
        transform-origin: top;     /* Se expande desde arriba hacia abajo */
        transform: scaleY(0);      /* Oculto al inicio */
        opacity: 0;                /* Oculto visualmente */
        transition: transform 0.5s ease,  /* Transición suave */
    }

    .nav-list.active{
        transition: transform 0.5s ease;
        width: 100%;
        height: auto;
        transform: scaleY(1);   /* Se muestra */
        opacity: 1;
    }

    .nav-list li{
        border-bottom: var(--negro) 1px solid;
        justify-content: center;
        
    }

    .nav-list li:nth-child(4){
        margin-bottom: 2px;
    }

    .nav-list li a{
        font-size: 3vw;
    }
}


/* Inicio */

.inicio{
    background-image: url(/recursos_fotos/fondo.JPG);
    height: 150vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}