@import "tailwindcss";

@font-face {
    font-family: 'Krona';
    src: url('/assets/KronaOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nixie';
    src: url(/assets/NixieOne.woff2) format('woff2');
    src: url(/assets/NixieOne.woff) format('woff');
    font-weight: 100 900; /* font-black */
    font-style: normal;
    font-display: swap;
}


@theme {

    /* Fuentes */
    --font-family-krona: 'Krona', sans-serif;
    --font-family-nixie: 'Nixie', sans-serif;

    /* Tamaños de pantalla */
    --breakpoint-xs: 798px;
    --breakpoint-tmx: 1180px;
    --breakpoint-e01: 420px;


    /* Tamaños de fuentes */
    --font-size-text: 1.125rem; /* 18px */

    /* Colores */
    --color-color-title: #111827;
    --color-color-text: #374151;
    --color-primary: #004977;
    --color-primary-heavy: #0a3856;
    --color-primary-light: #0f5886;
    --color-secondary: #015321;
    --color-secondary-heavy: #073c1c;
    --color-secondary-light: #0b5e2c;
    --color-accent: #fbbf24;

    /* Animaciones */
    --animate-wiggle: wiggle 2s ease-in-out infinite;
    
    @keyframes wiggle {
        0%,
        100% {
        transform: rotate(3deg);
        text-shadow: 0px 0px 10px #004977;
        }
        50% {
        transform: rotate(-3deg);
        text-shadow: 0px 0px 5px #004977;
        }
    }

    --animate-wiggle1: wiggle1 2s ease-in-out infinite;
    
    @keyframes wiggle1 {
        0%,
        100% {
        transform: rotate(-3deg);
        text-shadow: 0px 0px 10px #015321;
        }
        50% {
        transform: rotate(3deg);
        text-shadow: 0px 0px 5px #015321;
        }
    }

    --animate-wiggle2: wiggle2 5s ease-in-out infinite;
    
    @keyframes wiggle2 {
        0%{
            scale: 1;
        }
        25%{
            scale:1.1;
        }
        50% {
            scale: 1;
        }
        75%{
            scale:1.1;
        }
        100% {
            scale: 1;
        }
    }
    
    
}
